.headerTasks {
  margin-top: 2rem;
}

.headerTasks .wrapperContent {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.infosTask {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: bold;
}

.infosTask span {
  color: var(--purple-500);
}

.infosTask .counter {
  padding: 0.25rem 0.5rem;

  background: var(--gray-500);
  color: var(--gray-100);
  border-radius: 16px;
  font-size: 0.75rem;
  font-weight: bold;
}